html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(2239);
  margin:0;
  font-family:sans-serif;
}
a{
  text-decoration:none;
  color:var(--ci5);
}
a:hover{
color:var(--ci4);
}

.container{
  --ci1:rgb(188, 241, 145);
  --ci2:#70fdfd;
  --ci3:#ff9659;
  --ci4:#e58ffa;
  --ci5:#ff90c7;
  --ci6:hsl(0,100%,0%);
  background-image: linear-gradient(to bottom right,rgb(255, 211, 189) 5%,rgb(184, 92, 56),rgb(117, 49, 15)80%);
/*  rgb(45, 36, 36) 99% */
}
nav{
  height:64px;
  display:flex;
  align-items:center;
  justify-content:center;
  box-sizing:border-box;
  box-shadow:0px 5px 10px rgb(255, 255, 255);
  font-family: 'Noto Sans Thai', sans-serif; 
  position: absolute;
  left: 50%;
}
.nav-items{
  height:7%;
  width: 110%;
  display:flex;
  justify-content:center;
  align-items: center;
  position: fixed;
  background-color:rgb(0, 0, 0,0);
  box-shadow: 0.5em 0.5em 0.5em #0005;
  border-radius: 10px;
  z-index: 999;
  transition:1s;
  color: rgb(255, 255, 255);
}
nav a{
  height:100%;
  display:inline-flex;
  align-items:center;
  font-size:18px;
  padding:0 1.5em ;
  font-weight:bold;
  transition:all .2s;
}
nav a:hover{
  color:white;
  font-size: 24px;
  background:var(--ci3);
}
#header{
  height:1000px;
  font-size:38px;
  box-sizing:border-box;
  text-align:center;
  background-size:cover;
  background-position:center;
  color:#fff;
  display:flex;
  position:relative;
}
.header-inner{
  width:100%;
  height:100%;
  justify-content:center;
  align-items:center;
  display:flex;
  flex-flow:column wrap;
  font-family: 'Chonburi', cursive;
  font-size:50px;
  text-shadow: 0.8em 0.8em 0.5em #0007;
}
.first{
  animation: colortext 3s infinite alternate ;
}
.second{
  animation: colortext2 4s infinite alternate;
}
@keyframes colortext{
  0%{color:rgb(255, 255, 255);;}
  25%{color:rgb(252, 248, 232);}
  50%{color:rgb(212, 226, 212);}
  75%{color:rgb(236, 179, 144);}
  100%{color:rgb(223, 120, 97);}
}
@keyframes colortext2{
  0%{color:rgb(255, 255, 255);;}
  25%{color:rgb(244, 247, 197);}
  50%{color:rgb(170, 205, 190);}
  75%{color:rgb(251, 198, 135);}
  100%{color:rgb(234, 144, 122);}
}
.header-inner h1,.header-inner h2{
  margin:0;
}
.header-inner h2{
  font-size:2em;
  color:#fff;
}
.article{
  max-width:1200px;
  margin: auto;
}
#two{
  color: #0000;
}
.title{
  position: relative;
  left: 10%;
  color:rgb(255, 61, 61);
  background:rgb(255, 238, 209);
  box-shadow:0.5em 0.5em 0.3em#0005;
  padding:0.5em 2em;
  border-radius:100px;
  display:inline-block;
  font-size:2em;
  transition: 0.3s;
  font-family: 'Chonburi', cursive;
}
.title:hover{
  transform:scale(1.1,1.1);
}
.text{
  padding: 1.5em;
  text-indent: 10%;
  font-family: 'Mitr', cursive;
  font-size: 20px;
  text-shadow:0.5em 0.5em 0.2em #0007;
}
.below{
  color: #ffebdb;
}
.name{
  color:black;
  text-align: center;
}
.subtitle{
  position: relative;
  left: 10%;
  display: inline-block;
  padding: 1em 2em;
  transition: 0.2s;
  font-family: 'Chonburi', cursive;
  font-size:1.5em;
}
.subtitle:hover{
  transform:scale(1.1,1.1);
}
.adjust1{
  border-radius:10px;
  color:rgb(255, 61, 61);
  background:rgb(255, 238, 209);
  border:5px solid rgb(118, 159, 205);
  box-shadow:0.5em 0.5em 0.3em#0005;
}
.adjust2{
  border-radius:10px 50px 50px 10px;
  color:rgb(255, 61, 61);
  background:rgb(255, 238, 209);
  border:5px solid rgb(255, 154, 0);
  box-shadow:0.5em 0.5em 0.3em#0005;
}
.adjust3{
  border-radius:100px 10px 10px 100px;
  color:rgb(255, 61, 61);
  background:rgb(255, 238, 209);
  border:5px solid #FF165D;
  box-shadow:0.5em 0.5em 0.3em#0005;
  animation:colory 5s infinite alternate linear;
}
.adjust4{
  border-radius:10px 50px 50px 10px;
  color:rgb(255, 61, 61);
  background:rgb(255, 238, 209);
  box-shadow:0.5em 0.5em 0.3em#0005;
}
@keyframes colory{
  0%{color:rgb(255, 61, 61);;}
  25%{color:rgb(255, 211, 51);}
  50%{color:rgb(184, 92, 56);}
  75%{color:rgb(234, 187, 134);}
  100%{color:rgb(117, 49, 15);}
}
.pic{
  position: relative;
  width:50%;
  border-radius:10px;
  box-shadow:1em 1em 0.5em #0005;
  margin-top: 5vh;
  margin-bottom: 15vh;
  margin-left: 25%;
  transition: 0.3s;
  }
.pic:hover{
  transform: scale(1.01, 1.01);
}
.hr{
  display:block;
  width:200px;  
  background:rgb(0, 0, 0,0);
  height:4px;
  margin:auto;
  padding: 2em;
}
#copy{
  background:var(--ci5);
  color:white;
  padding:1em 0;
  text-align:center;
  font-size:.8em;
  font-weight:700;
  /* font-family: 'Noto Sans Thai', sans-serif; */
  }
blockquote {
  /* margin: 2em; */
  background: #f4f5f5;
  padding: 1em;
  font-size: 1.3em;
  border-radius:10px;
  /* font-family: 'Noto Sans Thai', sans-serif; */
}
/* pic */
.poster{
  position: relative;
  width:40%;
  border-radius:10px;
  box-shadow:1em 1em 0.5em #0007;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  }

.poster:hover{
  transform:scale(1.01,1.01);
}

.picy{
  position: relative;
  font-size: 20px;
  display:inline-block;
  left:-32.5%;
  margin-bottom:3em;
  box-shadow:0.5em 0.5em 0.4em #0007;
  color:rgb(255, 61, 61);
  background:rgb(255, 238, 209);
  padding: 1em 3em;
  border-radius:2px 2px 2px 1px;
  transition: 0.3s;
}
.picy:hover{
  transform:scale(1.1,1.1);
}
.videoheader{
  position: relative;
  font-size: 20px;
  display:inline-block;
  left: 42.5%;
  margin-top:2em;
  margin-bottom:3em;
  box-shadow:0.5em 0.5em 0.4em #0007;
  color:rgb(255, 61, 61);
  background:rgb(255, 238, 209);
  padding: 1em 3em;
  border-radius:9px 9px 9px 9px;
  transition: 0.3s;
}
.headsourcecode{
  position: relative;
  font-size: 20px;
  display:inline-block;
  left:40%;
  margin-top:2em;
  margin-bottom:3em;
  box-shadow:0.5em 0.5em 0.4em #0007;
  color:rgb(255, 61, 61);
  background:rgb(255, 238, 209);
  padding: 1em 3em;
  border-radius:15px 5px 5px 15px;
  transition: 0.3s;
}
.button{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
}
#source{
  
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 5em;
}

.locate{
    margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vdo{
    margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sourcecode{
    color: white;
    background-color: black;
    z-index: 5;
    width: 100vh;
    height: 70vh;
    overflow: scroll;
}
::-webkit-scrollbar {
      width: 15px;
}
::-webkit-scrollbar-track {
      background-color: #fdc88b;
} 
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5); 
} 
 
::-webkit-scrollbar-button {
      background-color: #ff9500;
}
 
::-webkit-scrollbar-corner {
      background-color: red;